<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Para abrir el login de Spotify en el navegador -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".CookieApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_cookie"
        android:roundIcon="@drawable/ic_cookie"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cookie">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Vuelta del login de Spotify: ariacookie://spotify-callback -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ariacookie" android:host="spotify-callback" />
            </intent-filter>
        </activity>
    </application>
</manifest>
